@{
    ViewData["Title"] = "Help";
}
<h1>@ViewData["Title"]</h1>

<p>Use the buttons to enter an expression and press equal. If you need to build a graph, click build graph.</p>
<p>You will see the answer above the expression input line.</p>

<p>You have access to the calculation history. You can select an expression and add it to the input line.</p>
<p>You can clear history. On clicking, all records will be deleted.</p>

<p>For a function graph, you can specify a range and domain.</p>

<h4>bromanyt@student.21-school.ru</h4>